body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita rolagem horizontal */
    user-select: none; /* Impedir seleção de texto */
    -webkit-user-select: none; /* Para navegadores WebKit */
    -moz-user-select: none; /* Para Firefox */
}

.header {
    background-color: #000; /* Preto */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fixa o cabeçalho no topo */
    top: 0;
    left: 0;
    width: 100%; /* Faz o cabeçalho ocupar toda a largura */
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
    box-sizing: border-box; /* Garante que o padding não altere a largura */
}

.header #logo-banner {
    height: 25px; /* Ajuste o tamanho conforme necessário */
}

/* Estilo para a barra de busca */
#search-bar {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #000000; /* Altere a cor de fundo conforme necessário */
    transition: border-color 0.3s, background-color 0.3s;
}

/* Estilo para a barra de busca quando focada */
#search-bar:focus {
    border-color: #ffffff;
    outline: none;
    background-color: #ffffff; /* Cor de fundo ao focar */
}

.container {
    display: flex;
    margin-top: 80px; /* Deixa espaço para o cabeçalho fixo */
}

.sidebar {
    background-color: #000; /* Preto */
    color: white;
    padding: 20px;
    width: 200px;
    min-height: 100vh;
    position: fixed; /* Fixa o menu na lateral */
    top: 80px; /* Deixa espaço para o cabeçalho */
    left: 0;
    z-index: 999; /* Garante que o menu fique acima do conteúdo */
}

/* Estilo para os botões do menu lateral */
.sidebar button {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza conteúdo horizontalmente */
    padding: 10px;
    margin-bottom: 10px;
    background-color: #aa141400; /* Quase preto */
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    text-align: center; /* Centraliza texto */
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo para o ícone e texto do botão */
.sidebar .icon {
    height: 30px;
    margin-right: 3px; /* Espaçamento entre ícone e texto */
}

/* Estilo para o botão selecionado */
.sidebar button.selected {
    border: 2px solid #00ff00; /* Borda verde para o botão selecionado */
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #222; /* Cor de fundo cinza escuro */
    color: white;
    margin-left: 220px; /* Deixa espaço para o menu fixo */
    padding-top: 20px; /* Dá uma folga no topo para o conteúdo */
    height: calc(100vh - 80px); /* A altura do conteúdo deve ser o restante da altura da tela após o cabeçalho */
    overflow-y: auto; /* Permite rolagem apenas na área de conteúdo */
    box-sizing: border-box; /* Inclui padding e bordas no cálculo de largura/altura */
}

.content #results {
    margin-top: 20px;
    height: 100%; /* Asegura que o contêiner de resultados ocupe toda a altura da seção */
    display: flex;
    flex-wrap: wrap; /* Faz os produtos quebrarem para a próxima linha */
    justify-content: flex-start; /* Alinha os produtos no início */
    gap: 20px; /* Espaço entre os produtos */
}
.produtos-container {
    display: flex;
    flex-wrap: wrap; /* Para permitir quebra de linha se necessário */
    justify-content: center; /* Centraliza os produtos horizontalmente */
    user-select: none; /* Impedir seleção de texto e imagem em toda a área */
    -webkit-user-select: none; /* Para navegadores WebKit */
    -moz-user-select: none; /* Para Firefox */
}
.produto {
    display: inline-block;
    width: 200px;
    margin: 10px; /* Adiciona margem para espaçar os produtos */
    text-align: center;
    border: 2px solid #000000; /* Adiciona uma borda preta ao contêiner */
    border-radius: 8px; /* Borda arredondada */
    padding: 1px; /* Adiciona padding para espaçamento interno */
    transition: transform 0.2s;
}

.produto a {
    text-decoration: none;  /* Remove o sublinhado */
    color: inherit;         /* Herda a cor do contêiner */
    display: block;         /* Faz o link ocupar toda a área do produto */
    pointer-events: auto;   /* Permite interação com o link */
}

.produto-imagem {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Borda arredondada */
}

.produto:hover {
    transform: scale(1.05); /* Efeito de zoom no contêiner */
}

.produto h2 {
    font-size: 19px;
    margin: 10px 0 0; /* Ajusta a margem superior para mover o título para cima */
}

.no-results {
    background-color: #222; /* Cor de fundo cinza escuro */
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0;
    height: 100%; /* Garante que a área de "Nenhum produto encontrado" ocupe toda a altura */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

/* Estilo para a barra de rolagem geral */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

/* Estilo para a trilha da barra de rolagem */
::-webkit-scrollbar-track {
    background: #222; /* Cor de fundo da trilha */
}

/* Estilo para o polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #555; /* Cor do polegar */
    border-radius: 10px; /* Borda arredondada do polegar */
    border: 3px solid #222; /* Espaço ao redor do polegar */
}

/* Estilo para o polegar da barra de rolagem quando está ativo */
::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Cor do polegar ao passar o mouse */
}
